{% load static %}
<li>
    <div class="card">
      <a href="{% url 'blog:individual_post' post.slug %}">
        <div class="card-header">
            <img src="{{ post.image.url }}"  alt="{{ post.title }}"/>
        </div>
        <div class="card-body">
          <h4>
            {{ post.title }}
          </h4>
          <div class="user">
            <img src="{% static "raulmaya.jpg" %}"  alt="{{ post.title }}"/>
            <div class="user-info">
              <h5>Raul Maya</h5>
              <small>{{ post.date }}</small>
            </div>
          </div>
        </a>
    </div>
</li>
