{% extends "base.html" %}
{% load static %}
 
{% block title %}
    My Favorite Posts
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/stored_files.css" %}">
{% endblock %}

{% block content %}

<section id="posts">
    <header>
        <h1>Favorite Posts</h1>
    </header>
    <section id="all-posts">
    {% if has_posts %}
    <ul>
        <div class="container">
        {% for post in posts %}
            {% include "blog/includes/portrait.html" %}
        {% endfor %}
        </div>
     </ul>
     {% else %}
     <ul>
        <div class="container">
            <div class="no-posts-card">
            <p>No Favorite Saved</p>
            </div>
        </div>
     </ul>
     {% endif %}
    </section>
    
 </section>

{% endblock %}