{% extends "base.html" %}
{% load static %}
 
{% block title %}
    Football Blog
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index_posts.css" %}">
<link rel="stylesheet" href="{% static "blog/styles.css" %}">
{% endblock %}

{% block content %}
    <section id="start">
        <header>
            <a class='active' href="{% url 'blog:starting_page' %}"><h1><span>Tottenham Blog</span></h1></a>
        </header>
        <section id="latest-posts">
            <ul>
                <div class="container">
                {% for post in posts %}
                    {% include "blog/includes/portrait.html" %}
                {% endfor %}
                </div>
            </ul>
        </section>
    </section>

{% endblock %}