{% extends "base.html" %}
{% load static %}
 
{% block title %}
    Football Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/styles.css" %}">
{% endblock %}

{% block content %}
    <section id="start">
        <header>
            <img src="{% static "iniesta_2010.jpg" %}" alt="Iconic Moments"/>
            <h2>FOOTBALL IS LIFE</h2>
        </header>
        <p>This is a football blog</p>
    </section>

    <section id="latest-posts">
        <h2>New Posts!</h2>
        <ul>
            {% include "blog/includes/portrait.html" %}
        </ul>
    </section>

    <section id='about'>
        <h2>Manchester City</h2>
            <p>Erling Halaand</p>
    </section>

{% endblock %}