{% extends "base.html" %}
 
{% block title %}
    Football Blog
{% endblock %}

{% block content %}

    <header id="navigation">
        <h1><a href="">Football Blog</a></h1>
        <nav>
            <a href="">Posts</a>
        </nav>
    </header>
    <section id="start">
        <header>
            <img src="" alt="Iconic Moments"/>
            <h2>FOOTBALL IS LIFE</h2>
        </header>
        <p>This is a football blog</p>
    </section>

    <section id="latest-posts">
        <h2>New Posts!</h2>
        <ul>
            <li>
                <article class = 'post'>
                    <a href="">
                        <img src="" alt="Real Madrid Options To Mbappe News"/>
                        <div class="content">
                            <h3>Real Madrid Options To Mbappe News</h3>
                            <p>Nkunku, Salah, Botman, Mane, Gnabry</p>
                        </div>
                        
                </article
            </li>
        </ul>
    </section>

    <section id='about'>
        <h2>Manchester City</h2>
            <p>Erling Halaand</p>
    </section>

{% endblock %}