{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ post.title|title }}
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/main.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}

{% if comment_form.errors %}
<div id="alert">
    <h2>Unsuccessful Comment</h2>
    <h3>There is an error with your comment</h3>
    <p>Please check the comment form below</p>
    <a href="#comment-form">See problem</a>
</div>
{% endif %}

    <section id='summary'>
    <div class="text-container">
    <h2>{{ post.title|title }}</h2>
    <hr>
    
    <div>
        {% for tag in tags %}
        <button class ="tag">{{ tag.caption }}</button>
        {% endfor %}
    </div>
</div>
    {% if user.is_authenticated %}
    
    <div class = "side-forms">
        <div class="read-later {% if saved_for_later %}on-read-list{% endif %}">
            <form action="{% url 'blog:read-later' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="post_id">
                {% if saved_for_later %}
                <button class="btn"><i class="fa fa-bookmark"></i></button>
                {% else %}
                <button class="btn"><i class="fa fa-bookmark"></i></button>
                {% endif %}
            </form>
        </div>
        <div class="favorite {% if favorite_one %}on-fav-list{% endif %}">
        <form action="{% url 'blog:favorites' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ post.id }}" name="post_id">
            {% if favorite_one %}
            <button class="btn"><i class="fa fa-star"></i></button>
            {% else %}
            <button class="btn"><i class="fa fa-star"></i></button>
            {% endif %}
        </form>
        </div>
    
        {% else %}
        <div class="login-posts">
            <a href="{% url 'users:login' %}">
            <button class="btn"><i class="fa fa-sign-in"></i></button>
            </a>
        </div>
        {% endif %}
        

        <div class="author">            
            <address>By <a href="mailto:{{ post.author.email_address }}">{{ post.author|title }}</a></address>
            <div>
                Last Update: <time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </div>
    </div>
    </section>
    <hr>

    <main>
        {{ post.content|linebreaks }}
    </main>

    {% if comments %}
    <hr>
        <section id="comments" >
            <ul>
                {% for comment in comments %}
                <li>
                <span><h2>{{ comment.user_name }}</h2><p>{{ comment.date|date }}</p></span><hr>
                    <p>{{ comment.text|linebreaks }}</p>
                    
                </li>
                {% endfor %}
            </ul>
        
    {% else %}

    {% endif %}
        </section>
    
    <hr>
    <section id="comment-form" >
        <h2>Comments</h2>
        <form action="{% url 'blog:individual_post' post.slug %}" method="POST">
        <form >
            {% csrf_token %}
            {% for field in comment_form %}
            <div class = "control-form {% if field.errors %}invalid{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <button>Save Comment</button>
        </form>
    </section>
{% endblock %}