{% extends 'base.html' %}
{% load static %}


{% block title %}
{{ post.title|title }}
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/main.css" %}">
{% endblock %}

{% block content %}
    <section id='summary'>
        <h2>{{ post.title|title }}</h2>
        <article>
            <img src="{% static post.image %}" alt="Post Title"/>
            <address>By {{ post.author|title }}</address>
            <div>
                Last Update: <time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>
    <main>
        {{ post.content|linebreaks }}
    </main>
{% endblock %}