{% extends "base.html" %}
{% load static %}
 
{% block title %}
    My Saved Posts
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/stored_files.css" %}">
{% endblock %}

{% block content %}

<section id="posts">
    <header>
        <h1>Read Later Posts</h1>
    </header>
    {% if not has_posts %}
    <div class='no-posts'>
    <p> No Posts Saved</p>
    </div>
    {% else %}
    <section id="all-posts">
    <ul>
        {% for post in posts %}
            {% include "blog/includes/portrait.html" %}
        {% endfor %}
     </ul>
    </section>
    {% endif %}
 </section>

{% endblock %}