body  {
  background-image: url("spurs_stadium.jpg");
  background-size: cover;
}

.container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  gap: 2em;
  padding: 2em;
}

form {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  gap: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}


button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 6px;
  background-color: #00005c;
  color: white;
  border: 1px solid #5d96ff;
}

button:hover,
button:active {
  background-color: #5d96ff;
  border-color: #00005c;
  color: #ffffff;
}


.register-form input {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: block;
  width: 10rem;
}

.register-form input:focus {
  border-color: #0e0eb8;
  outline: none;
  background-color: #95b3ff;
}

.register-form label {
  font-weight: lighter;
  color: #5e5e5e;
  display: block;}

form .create-account {
  display: flex;
  font-size: 0.7em;
  color: #5e5e5e;
  gap: 2rem;
}
form .create-account a{
  cursor: pointer;
}


footer {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.container img {
  border-radius: 50%;
  width: 10p6x;
  height: 100px;
  margin: 0 auto;
}