{% extends "base.html" %}
{% load static %}
 
{% block title %}
    Registro
{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static "registration/register.css" %}">
{% endblock %}


{% block content %}
<div class="container">
    <img src="{% static "LoginLogo.png" %}"  alt="{{ post.title }}"/>

<form method='POST' action="{% url 'users:register' %}">
    {% csrf_token %}
    {% for field in form %}
    <div class = "register-form {% if field.errors %}invalid{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <button name="submit">Register</button>
    <div class="create-account">
        <p>Already have an account?</p><a href="{% url 'users:login' %}">Log In</a>
    </div>
    <input type="hidden" name="next" value="{% url 'blog:starting_page' %}"/>
</form>
</div>
{% endblock %}"