{% load static %}
<li>
    <div class="card">
        <div class="card-header">
            <img src="{{ post.image.url }}"  alt="{{ post.title }}"/>
        </div>
        <div class="card-body">
          <span class="tag tag-pink">Spurs</span>
          <a href="{% url 'blog:individual_post' post.slug %}"><h4>
            {{ post.title }}
          </h4></a>
          <div class="user">
            <img src="{{ post.image.url }}"  alt="{{ post.title }}"/>
            <div class="user-info">
              <h5>Raul Maya</h5>
              <small>{{ post.date }}</small>
            </div>
          </div>
    </div>
</li>