{% extends "base.html" %}
{% load static %}
 
{% block title %}
    Login
{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static "registration/login.css" %}">
{% endblock %}


{% block content %}

<div class="container">
    

{% if form.errors %}
    <p>Error</p>
{% endif %}

<form method='POST' action="{% url 'users:login' %}">
    <img src="{% static "LoginLogo.png" %}"  alt="{{ post.title }}"/>
    {% csrf_token %}
    {% for field in form %}
    <div class = "login-form {% if field.errors %}invalid{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <button name="submit">Log In</button>
    <div class="create-account">
    <p>Don't have an account?</p><a href="{% url 'users:register' %}">Create One</a>
    </div>
    <input type="hidden" name="next" value="{% url 'blog:starting_page' %}"/>
</form>
</div>
{% endblock %}"