{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %} 
 
{% block title %}
    Login
{% endblock %}


{% block css_files %}
<link rel="stylesheet" href="{% static "registration/login.css" %}">
{% endblock %}


{% block content %}

<div class="jumbotron">
    <h1>Log in to your account</h1>
<form method='POST' action="{% url 'users:login' %}" class="form">
    <img src="{% static "LoginLogo.png" %}"  alt="{{ post.title }}"/>
    {% csrf_token %}
    {% bootstrap_form form %} 
    {% buttons %} 
    <button name="submit">Log In</button>
    {% endbuttons %}   
    <div class="create-account">
    <p>Don't have an account?</p><a href="{% url 'users:register' %}">Create One</a>
    </div>
    <input type="hidden" name="next" value="{% url 'blog:starting_page' %}"/>
</form>
</div>
{% endblock %}"