@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap");
body {
    background-image: url('https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt756f8ea187992636/62332c85c641ca4f7b260512/GettyImages-1385795757.jpg');
    background-size: cover;
}

.container h5{
    margin-top: 5rem;
    padding-top: 5rem;
    align-items: center;
    align-self: center;
    text-align: center;
}
h5 {
    background-image: linear-gradient(transparent calc(65% - 5px), #000656 5px);
    background-size: 0;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.5s ease;
    font-size: 8.5vw;
    max-width: 75vw;
    color: #ffffff;
    font-family: "Red Hat Display", sans-serif;
    -webkit-text-stroke: 1px rgb(10, 4, 53);
  }

h5:hover {
    background-size: 100%;
  }
  