body {
  background-color: #e7e7e7;
}

#summary {
  margin: 0rem 1rem 1rem auto;
  padding: 1rem 5rem 1rem 1rem;
  width: 90%;
  max-width: 90rem;
  border-radius: 12px;
  background-color: #000262;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: fit-content;
}

.text-container{
  background-color: transparent;
  width: 50rem;
}

.side-forms{
  display: inline-block;
  width: 1000px;
  background-color: #c00606;
}

#summary h2 {
  color: white;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#summary article {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem 1rem;
  border-radius: 12px;
  text-align: right;
  color: white;
}

#summary article img {
  width: 23rem;
  height: 16rem;
  border-radius: 12px;
  transform: rotateZ(0deg);
  border: 5px solid white;
  margin-bottom: 1rem;
}



#summary address {
  font-weight: bold;
}

#summary a {
  color: white;
  text-decoration: none;
}

#summary time {
  font-weight: bold;
}

.read-later {
  margin: 1rem 0;
}

.read-later button {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  font: inherit;
  color: white;
  cursor: pointer;
}

.read-later button:hover,
.read-later button:active {
  background-color: white;
  color: #390281;
}

.favorite {
  margin: 1rem 0;
}

.favorite button {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  font: inherit;
  color: white;
  cursor: pointer;
}

.favorite button:hover,
.favorite button:active {
  background-color: white;
  color: #390281;
}

.on-read-list button {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  font: inherit;
  color: white;
  cursor: pointer;
}

.on-read-list button:hover,
.on-read-list button:active {
  background-color: transparent;
  color: #ffffff;
}


.on-fav-list button {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  font: inherit;
  color: white;
  cursor: pointer;
}

.on-fav-list button:hover,
.on-fav-list button:active {
  background-color: transparent;
  color: #ffffff;
}



main {
  width: 90%;
  max-width: 90rem;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.tag {
  background-color: white;
  color: #390281;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}


#comment-form {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

#comment-form button {
  font: inherit;
  background-color: #0b0281;
  color: white;
  border: 1px solid #020f81;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

#comment-form button:hover,
#comment-form button:active {
  background-color: #0b10a7;
  border-color: #0b13a7;
}

.control-form {
  margin-bottom: 1rem;
}

.control-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.control-form input,
.control-form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.errorlist{
  list-style: none;
  margin: 0.5 rem 0;
  padding: 0;
  color: #c00606
}

.invalid label{
  color: #c00606
}

.invalid input,
.invalid textarea{
  border-color: #c00606;
  background-color: #ffdbdb;
}

#alert{
  margin: 8rem auto 3rem auto;
  border: 1px solid red;
  background-color: #ffdbdb;
  padding: 0.5rem;
  width: 90%

}

#alert a{
  text-decoration: none;
  border: 1px solid red;
  background-color: #ffdbdb;
  color: black;
  padding: 0.2rem 1.5rem;
  border-radius: 6px;
}

#comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 60rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
}

#comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#comments li {
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

#comments li:last-of-type {
  border-bottom: none;
}

#comments h2 {
  color: #464646;}

