body {
  background-color: #e7e7e7;
}

#summary {
  margin: 0rem 0rem 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
  width: 90%;
  max-width: 90rem;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: fit-content;
}

.text-container{
  background-color:transparent;
  width: 40em;
  height: fit-content;
}

.side-forms{
  display: inline-block;
  width: 100%;
  padding-top: 4.5em;
}



#summary h2 {
  color: rgb(0, 0, 0);
  font-size: 3.5em;
  margin-bottom: 1rem;
}


#summary .article {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  padding: 0rem 0rem;
  border-radius: 12px;
  text-align: right;
  height: fit-content;
}

#summary .article img {
  width:27rem;
  height: 19rem;
  transform: rotateZ(0deg);
  margin-bottom: 1rem;
} 

#summary address {
  font-weight: bold;
  margin-bottom: 1rem;
}
#summary .author{
  text-align: right;
  font-size: 12px;
  color:#464646;
  margin: 0rem 0;
}

#summary time {
  font-weight: bold;
}

.read-later {
  margin: 0rem 0;
  float: left;
  margin-right: 12px;
}

.read-later button {
  background-color: transparent;
  border: 1px solid #FF5B00;
  padding: 0.5rem 2rem;
  font: inherit;
  color: #FF5B00;
  cursor: pointer;
}

.read-later button:hover,
.read-later button:active {
  background-color: #FF5B00;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.favorite {
  margin: 0rem 0;
  float: left;
  margin-right: 12px;
}

.favorite button {
  background-color: transparent;
  border: 1px solid #FAC213;
  padding: 0.5rem 2rem;
  font: inherit;
  color: #FAC213;
  cursor: pointer;
}

.favorite button:hover,
.favorite button:active {
  background-color: #FAC213;
  color: #ffffff;
  border: 1px solid #FAC213;
}

.on-read-list button {
  padding: 0.5rem 2rem;
  font: inherit;
  cursor: pointer;
  background-color: white;
  color: #FF5B00;
  border: 1px solid #FF5B00;
}

.on-read-list button:hover,
.on-read-list button:active {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}


.on-fav-list button {
  padding: 0.5rem 2rem;
  font: inherit;
  cursor: pointer;
  background-color: white;
  color: #FAC213;
  border: 1px solid #FAC213;
}

.on-fav-list button:hover,
.on-fav-list button:active {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}



main {
  width: 90%;
  max-width: 90rem;
  margin: 0rem 0em 1rem auto;
  background-color: white;
  padding: 1rem 5rem 1rem 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.tag {
  background-color: white;
  color: #002385;
  padding: 0.5rem 1rem;
  border-radius: 8px #002385 solid;
}


#comment-form {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

#comment-form button {
  font: inherit;
  background-color: #0b0281;
  color: white;
  border: 1px solid #020f81;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

#comment-form button:hover,
#comment-form button:active {
  background-color: #0b10a7;
  border-color: #0b13a7;
}

.control-form {
  margin-bottom: 1rem;
}

.control-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.control-form input,
.control-form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.errorlist{
  list-style: none;
  margin: 0.5 rem 0;
  padding: 0;
  color: #c00606
}

.invalid label{
  color: #c00606
}

.invalid input,
.invalid textarea{
  border-color: #c00606;
  background-color: #ffdbdb;
}

#alert{
  margin: 8rem auto 3rem auto;
  border: 1px solid red;
  background-color: #ffdbdb;
  padding: 0.5rem;
  width: 90%

}

#alert a{
  text-decoration: none;
  border: 1px solid red;
  background-color: #ffdbdb;
  color: black;
  padding: 0.2rem 1.5rem;
  border-radius: 6px;
}

#comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 60rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
}

#comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#comments li {
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

#comments li:last-of-type {
  border-bottom: none;
}

#comments h2 {
  color: #464646;}

.login-posts button {
  margin-top: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: block;
  border: 0px;
  font-weight: 450;
  box-shadow: 0px 0px 14px -7px #3AA3C1;
  background-image: linear-gradient(45deg, #260980 0%, #283996  51%, #3AA3C1  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-posts button a{
  text-decoration: none;
  color: #e7e7e7;
}
.login-posts button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.login-posts button:active {
  transform: scale(0.95);
}