{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "global_styles.css" %}">
    <link rel="icon" href="{% static "Spurs Blog Logo.png" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block css_files %}
    {% endblock %}
</head>
<body>
    <nav class="sidebar-navigation">
        <ul>
            <li>
                <a class='active' href="{% url 'blog:starting_page' %}"><img src="{% static "Spurs Blog Logo.png" %}" alt="" width="38" he8ight="38"></a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="{% url 'blog:posts' %}"><i class="fa fa-newspaper-o"></i></a>
                <span class="tooltip">Posts</span>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'blog:read-later' %}"><i class="fa fa-bookmark"></i></a>
                <span class="tooltip">Read Later</span>
            </li>
            <li>
                <a href="{% url 'blog:favorites' %}"><i class="fa fa-star"></i></a>
                <span class="tooltip">Favorites</span>
            </li>
            <li>
                <a href="{% url 'users:logout' %}"><i class="fa fa-sign-out"></i></a>
                <span class="tooltip">Log Out</span>
            </li>

            {% else %}
            <li>
                <a href="{% url 'users:login' %}"><i class="fa fa-sign-in"></i></a>
                <span class="tooltip">Log In</span>
            </li>
            <li>
                <a href="{% url 'users:register' %}"><i class="fa fa-address-card"></i></a>
                <span class="tooltip">Register</span>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <div class="social-media-links">
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              </li>
            <li>
              <a href="#">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </footer>
</body>
<script>
    $("ul li").on("click", function () {
        $("li").removeClass("active");
        $(this).addClass("active");
    });
</script>
</html>